body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('./imgs/canyon-8124036_1280.jpg');
  background-size: cover;
  background-position: center center;
}

header,
footer {
  background-color: #00000047;
  color: #fff;
  text-align: center;
  padding: 1em 0;
}

main {
  flex: 1;
  padding: 1em;
}

.search-bar {
  max-width: 600px;
  margin: 0 auto 1em;
  padding: 1em;
  display: flex;
  gap: 0.5em;
}

.search-bar input {
  flex: 1;
  padding: 0.5em;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 1em;
}

.search-bar button {
  padding: 0.5em 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #979797;
  color: #000000;
}

.search-bar button:hover {
  background-color: #8b8b8b;
}

.contact-list {
  max-width: 600px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1em;
  border-radius: 8px;
}

.contact-list h2 {
  text-align: center;
}

.contact-list ul {
  list-style-type: none;
  padding: 0;
}

.contact-list li {
  background-color: rgba(249, 249, 249, 0.8);
  margin: 0.5em 0;
  padding: 0.5em;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  display: flex;
  gap: 0.5em;
}

.contact-list button {
  padding: 0.5em 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #979797;
  color: #000000;
}

.contact-list button:hover {
  background-color: #8b8b8b;
}


@media (max-width: 768px) {
  .search-bar {
    flex-direction: column;
    align-items: stretch;
  }

  .search-bar input,
  .search-bar button {
    width: 100%;
    margin-bottom: 0.5em;
  }

  .contact-list li {
    flex-direction: column;
    align-items: flex-start;
  }

  .buttons {
    justify-content: flex-start;
  }
}